listen l1
    bind 0.0.0.0:23
    mode tcp
    timeout connect  10000 
    timeout client   1hr 
    timeout server   1hr 
    server uno    192.168.0.180:8024 check port 8024
    server dos    192.168.0.181:8024 check port 8024
    server tres   192.168.0.182:8024 check port 8024
    server cuatro 192.168.0.183:8024 check port 8024
    balance leastconn
    acl site_dead nbsrv lt 1
    tcp-request connection reject if site_dead

listen l1
    bind 0.0.0.0:24 ssl crt /etc/ssl/picluster.pem 
    mode tcp
    timeout connect  10000
    timeout client   1hr
    timeout server   1hr
    server uno    192.168.0.180:8024 check port 8024
    server dos    192.168.0.181:8024 check port 8024
    server tres   192.168.0.182:8024 check port 8024
    server cuatro 192.168.0.183:8024 check port 8024
    balance leastconn
    acl site_dead nbsrv lt 1
    tcp-request connection reject if site_dead


listen l2
    bind 0.0.0.0:80
    mode tcp
    timeout connect  10000
    timeout client   1hr
    timeout server   1hr
    server uno    192.168.0.180:8080 check port 8080
    server dos    192.168.0.181:8080 check port 8080
    server tres   192.168.0.182:8080 check port 8080
    server cuatro 192.168.0.183:8080 check port 8080
    balance leastconn
    acl site_dead nbsrv lt 1
    tcp-request connection reject if site_dead

global
    user nobody
