global
    user nobody
    log 127.0.0.1 local0 

listen bbsdtelnet
    bind {{ ansible_eth0.ipv4.address }}:23
    mode tcp
    timeout connect  500
    timeout client   0 
    timeout server   0 
    server uno    192.168.0.180:8024 source 192.168.0.183 check port 8024
    server dos    192.168.0.181:8024 source 192.168.0.183 check port 8024
    server tres   192.168.0.182:8024 source 192.168.0.183 check port 8024
    server cuatro 192.168.0.183:8024 source 192.168.0.183 check port 8024
    balance leastconn
    acl site_dead nbsrv lt 1
    tcp-request connection reject if site_dead
    option tcplog
    log global

#listen http 
#    bind {{ ansible_eth0.ipv4.address }}:80
#    mode tcp
#    timeout connect  500
#    timeout client   0 
#    timeout server   0 
#    server uno    192.168.0.180:8080 source 192.168.0.183 check port 8080
#    server dos    192.168.0.181:8080 source 192.168.0.183 check port 8080
#    server tres   192.168.0.182:8080 source 192.168.0.183 check port 8080
#    server cuatro 192.168.0.183:8080 source 192.168.0.183 check port 8080
#    balance leastconn
#    acl site_dead nbsrv lt 1
#    tcp-request connection reject if site_dead
#    option tcplog


	
